# Iris

### Introduction:

This exercise may seem a little bit strange, but keep doing it.

### Step 1. Import the necessary libraries

In [10]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data).

### Step 3. Assign it to a variable called iris

In [4]:
iris = pd.read_csv("./iris.data", sep = ",", header=None)
iris.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

### Step 4. Create columns for the dataset

In [7]:
# 1. sepal_length (in cm)
# 2. sepal_width (in cm)
# 3. petal_length (in cm)
# 4. petal_width (in cm)
# 5. class
iris.columns = ["sepal_length (in cm)","sepal_width (in cm)","petal_length (in cm)","petal_width (in cm)","class"]
iris.head()

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm),class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

### Step 5.  Is there any missing value in the dataframe?

In [8]:
iris.isna().sum()

sepal_length (in cm)    0
sepal_width (in cm)     0
petal_length (in cm)    0
petal_width (in cm)     0
class                   0
dtype: int64

### Step 6.  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

In [12]:
iris['petal_width (in cm)'][10:30]=np.nan
iris.iloc[10:30]

C:\Users\Admin\AppData\Local\Temp\ipykernel_5716\3598079018.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iris['petal_width (in cm)'][10:30]=np.nan

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm),class
10,5.4,3.7,1.5,NaN,Iris-setosa
11,4.8,3.4,1.6,NaN,Iris-setosa
12,4.8,3.0,1.4,NaN,Iris-setosa
13,4.3,3.0,1.1,NaN,Iris-setosa
14,5.8,4.0,1.2,NaN,Iris-setosa
15,5.7,4.4,1.5,NaN,Iris-setosa
16,5.4,3.9,1.3,NaN,Iris-setosa
17,5.1,3.5,1.4,NaN,Iris-setosa
18,5.7,3.8,1.7,NaN,Iris-setosa
19,5.1,3.8,1.5,NaN,Iris-setosa
20,5.4,3.4,1.7,NaN,Iris-setosa
21,5.1,3.7,1.5,NaN,Iris-setosa
22,4.6,3.6,1.0,NaN,Iris-setosa
23,5.1,3.3,1.7,NaN,Iris-setosa
24,4.8,3.4,1.9,NaN,Iris-setosa
25,5.0,3.0,1.6,NaN,Iris-setosa
26,5.0,3.4,1.6,NaN,Iris-setosa
27,5.2,3.5,1.5,NaN,Iris-setosa
28,5.2,3.4,1.4,NaN,Iris-setosa
29,4.7,3.2,1.6,NaN,Iris-setosa

### Step 7. Good, now lets substitute the NaN values to 1.0

In [15]:
iris = iris.replace(np.nan,1.0)
# iris['petal_length (in cm)'].fillna(1, inplace = True)
iris.iloc[10:30]

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm),class
10,5.4,3.7,1.5,1.0,Iris-setosa
11,4.8,3.4,1.6,1.0,Iris-setosa
12,4.8,3.0,1.4,1.0,Iris-setosa
13,4.3,3.0,1.1,1.0,Iris-setosa
14,5.8,4.0,1.2,1.0,Iris-setosa
15,5.7,4.4,1.5,1.0,Iris-setosa
16,5.4,3.9,1.3,1.0,Iris-setosa
17,5.1,3.5,1.4,1.0,Iris-setosa
18,5.7,3.8,1.7,1.0,Iris-setosa
19,5.1,3.8,1.5,1.0,Iris-setosa
20,5.4,3.4,1.7,1.0,Iris-setosa
21,5.1,3.7,1.5,1.0,Iris-setosa
22,4.6,3.6,1.0,1.0,Iris-setosa
23,5.1,3.3,1.7,1.0,Iris-setosa
24,4.8,3.4,1.9,1.0,Iris-setosa
25,5.0,3.0,1.6,1.0,Iris-setosa
26,5.0,3.4,1.6,1.0,Iris-setosa
27,5.2,3.5,1.5,1.0,Iris-setosa
28,5.2,3.4,1.4,1.0,Iris-setosa
29,4.7,3.2,1.6,1.0,Iris-setosa

### Step 8. Now let's delete the column class

In [16]:
iris = iris.drop(columns='class')
iris

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm)
0,5.1,3.5,1.4,0.2
1,4.9,3.0,1.4,0.2
2,4.7,3.2,1.3,0.2
3,4.6,3.1,1.5,0.2
4,5.0,3.6,1.4,0.2
...,...,...,...,...
145,6.7,3.0,5.2,2.3
146,6.3,2.5,5.0,1.9
147,6.5,3.0,5.2,2.0
148,6.2,3.4,5.4,2.3
149,5.9,3.0,5.1,1.8

### Step 9.  Set the first 3 rows as NaN

In [17]:
iris.iloc[:3] = np.nan
iris

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm)
0,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN
3,4.6,3.1,1.5,0.2
4,5.0,3.6,1.4,0.2
...,...,...,...,...
145,6.7,3.0,5.2,2.3
146,6.3,2.5,5.0,1.9
147,6.5,3.0,5.2,2.0
148,6.2,3.4,5.4,2.3
149,5.9,3.0,5.1,1.8

### Step 10.  Delete the rows that have NaN

In [18]:
iris = iris.dropna()
iris

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm)
3,4.6,3.1,1.5,0.2
4,5.0,3.6,1.4,0.2
5,5.4,3.9,1.7,0.4
6,4.6,3.4,1.4,0.3
7,5.0,3.4,1.5,0.2
...,...,...,...,...
145,6.7,3.0,5.2,2.3
146,6.3,2.5,5.0,1.9
147,6.5,3.0,5.2,2.0
148,6.2,3.4,5.4,2.3
149,5.9,3.0,5.1,1.8

### Step 11. Reset the index so it begins with 0 again

In [19]:
iris.reset_index(drop=True)

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm)
0,4.6,3.1,1.5,0.2
1,5.0,3.6,1.4,0.2
2,5.4,3.9,1.7,0.4
3,4.6,3.4,1.4,0.3
4,5.0,3.4,1.5,0.2
...,...,...,...,...
142,6.7,3.0,5.2,2.3
143,6.3,2.5,5.0,1.9
144,6.5,3.0,5.2,2.0
145,6.2,3.4,5.4,2.3
146,5.9,3.0,5.1,1.8

### BONUS: Create your own question and answer it.